<app-navbar></app-navbar>
<div class="container">
  <h2>Carrello</h2>
  <div class="row">
    <div class="element1">
      <img src="https://picsum.photos/400/400" alt="">
    </div>
    <div class="element2">
      <h3>Prodotto G.A.S</h3>
      <p>
        <i>Descrizione</i>
      </p>
      <p>
        <button type="button" class="btn btn-outline-success">Buy</button>
      </p>
    </div>   
  </div>
  <div class="row">
    <div class="desc">
      <h3>Descrizione completa</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga, laboriosam quibusdam reiciendis quos placeat impedit ex 
        explicabo eligendi dicta modi asperiores quam consectetur nostrum sequi laudantium exercitationem dignissimos, quaerat libero?
      </p>
    </div>
  </div>  
</div>