.container-fluid .container-cards{
    width: 100%;
}
.container-fluid .container-cards .card{
    display: inline-block;
    align-content: center;
    margin-left: 1em;
    border: 1px solid #000000;
    background-color: black;
    color: white;
    margin-bottom: 10px;
}
h5{
    color: red;
    font-weight: 600;
}
p{
    color: white;
}

h2{
    color: red;
    font-weight: bold;
    text-align: center;
    margin: 1em;
}