<app-navbar></app-navbar>

<div class="container-fluid">
  <h2>Acquista un prodotto</h2>
  <div class="row">
    <div class="container-cards">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=".../100px180/" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Prodotto</h5>
              <p class="card-text">Descrizione prodotto</p>
              <a href="#" class="btn btn-outline-success">Acquista</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src=".../100px180/" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Prodotto</h5>
                <p class="card-text">Descrizione prodotto</p>
                <a href="#" class="btn btn-outline-success">Acquista</a>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Prodotto</h5>
                  <p class="card-text">Descrizione prodotto</p>
                  <a href="#" class="btn btn-outline-success">Acquista</a>
                </div>
              </div>
    </div>
  </div>
</div>