<div class="login col-sm-12" id="">
	<div class="log-logo col-sm-offset-3 col-sm-6">
		<img src="assets/images/" alt="logo">
	</div>
	<div class="col-sm-offset-3 col-sm-6">
		<form class="login-form" [formGroup]="loginForm" autocomplete="off" >
			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-header card-header-primary">
							<div class="row">
								<div class="col-sm-12">
									<h4 class="card-title">Login</h4>
								</div>
							</div>
						</div>
						<div class="card-body table-responsive">
							<div class="col-sm-12">
								<i class="fa fa-user" aria-hidden="true"></i> <input type="text" name="userName" placeholder="Inserisci Nome Utent" [formControl]="formEmail"  >
								<div class="errMsg" *ngIf="formEmail.dirty && formEmail.invalid">
									<span *ngIf="formEmail.hasError('required')">*Si prega di inserire nome utente.</span>
									<span *ngIf="formEmail.hasError('minlength')">*Il nome utente deve contenere almeno 12 caratteri.</span>
								</div>
								
							</div>
							<div class="col-sm-12">
								<i class="fa fa-lock" aria-hidden="true"></i> <input type="password" name="password" placeholder="Inserisci Password" [formControl]="formPswrd" >
								<div class="errMsg" *ngIf="formPswrd.dirty && formPswrd.invalid">
									<span *ngIf="formPswrd.hasError('required')">*Per favore inserire una password.</span>
								</div>
								
							</div>
							<div class="col-sm-12">
								<div class="row">
									<div class="col-sm-6">
										<input type="checkbox" name="remember" [formControl]="loginForm.controls['rememberMe']"> Ricordati di me
									</div>
									<!--div class="col-sm-6">
										<a class="pull-right makeLink" >Forgot Password?</a>
									</div-->
								</div>
							</div>
							<div class="col-sm-12">
								<input type="submit" value="Login" (click)="login()" [disabled]="loginForm.invalid">
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>

